body{
    font-family:monospace;
    text-align: center;
    display:block;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgba(147, 156, 189, 0.74), 0 0 1em rgb(162, 235, 252), 0 0 0.2em rgb(81, 81, 190);;
}p{
    font-size: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}h1{
    color: rgb(47, 47, 145);
    font-size: 30px;
}h2{
    color:rgb(47, 47, 145) ;
    font-size: 30px;
}


a{  color: rgb(47, 47, 145);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(147, 156, 189, 0.74), 0 0 1em rgb(162, 235, 252), 0 0 0.2em rgb(81, 81, 190);;
}
a:hover{
    text-decoration:underline;
    color: rgb(59, 123, 175);
}@media (min-width: 576px){p{
    font-size: 20px;}
a{
    font-size: 25px;
}
}.page{
    font-size: small;
}